<div id="wrapper">
    <div id="leftcolumn">
        <mat-accordion class="example-headers-align">
            <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Resource
                </mat-panel-title>
                <mat-panel-description>
                  Enter Resource Details
                </mat-panel-description>
              </mat-expansion-panel-header>

              <mat-form-field>
                <input matInput placeholder="Resource Name" [(ngModel)]="newResource.name" [value]=newResource.name>
              </mat-form-field>

              <mat-form-field>
                <mat-select placeholder="Select Organization" [(value)]="newResource.org">
                  <!-- <mat-option>None</mat-option>
                  <mat-option value="option1">Org 1</mat-option>
                  <mat-option value="option2">Org 2</mat-option>
                  <mat-option value="option3">Org 3</mat-option>-->
                 <mat-option *ngFor="let org of organizationsList" [value]="org.name">
                    {{org.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-action-row>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
              </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Other Details
                </mat-panel-title>
                <mat-panel-description>
                  Enter Email Id and Dept Info
                </mat-panel-description>
              </mat-expansion-panel-header>

              <!-- <mat-form-field>
                  <input matInput placeholder="Organization Id" [(ngModel)]="newResource.id" [value]=newResource.id>
                </mat-form-field> -->

                <mat-form-field>
                  <mat-select placeholder="Select Department" [(value)]="newResource.dept">
                    <mat-option>None</mat-option>
                    <mat-option value="Health">Health</mat-option>
                    <mat-option value="Food">Food</mat-option>
                    <mat-option value="Relief">Relief</mat-option>
                  <!--  <mat-option *ngFor="let org of organizationsList" [value]="org.name">
                      {{org.name}}
                    </mat-option>-->
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                  <mat-select placeholder="Select Job" [(value)]="newResource.job">
                    <mat-option>None</mat-option>
                    <mat-option value="Manager">Manager</mat-option>
                    <mat-option value="Food">Relief Officer</mat-option>
                    <mat-option value="Asst Manager">Asst Manager</mat-option>
                  <!--  <mat-option *ngFor="let org of organizationsList" [value]="org.name">
                      {{org.name}}
                    </mat-option>-->
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                  <input matInput placeholder="Email Id" [(ngModel)]="newResource.email" [value]=newResource.email>
                </mat-form-field>

                <mat-form-field>
                  <input matInput placeholder="Contact Number" [(ngModel)]="newResource.phone" [value]=newResource.phone>
                </mat-form-field>

                <mat-form-field>
                  <mat-select placeholder="Skills" multiple [(ngModel)]="newResource.skill">
                    <mat-option *ngFor="let skill of skillsList" [value]="skill">{{skill}}</mat-option>
                  </mat-select>
                </mat-form-field>
  



              <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
              </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Map Location
                </mat-panel-title>
                <mat-panel-description>
                  Map Location Details
                </mat-panel-description>
              </mat-expansion-panel-header>
                  <mat-form-field>
                      <input matInput type="text" placeholder="City" [(ngModel)]="newResource.address.city" [value]=newResource.address.city (keypress)="loadMap()">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput type="text" placeholder="District" [(ngModel)]="newResource.address.state_district" [value]=newResource.address.state_district (keypress)="loadMap()">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput type="text" placeholder="State" [(ngModel)]="newResource.address.state" [value]=newResource.address.state (keypress)="loadMap()">
                  </mat-form-field>
                  <mat-form-field>
                      <input matInput type="text" placeholder="Country" [(ngModel)]="newResource.address.country" [value]=newResource.address.country (keypress)="loadMap()">
                  </mat-form-field>
                  <mat-form-field>
                      <input matInput type="text" placeholder="Pin Code" [(ngModel)]="newResource.address.postcode" [value]=newResource.address.postcode (keypress)="loadMap()">
                  </mat-form-field>
                  

              <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="saveResource()">Save</button>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
    </div>


    <div id="rightcolumn" style="color:black;">
          <div id="map" class="container"></div>
          <div id="search">
              <input type="text" (keyup)="searchMapLocationBySearchData()" id="mapSearch" [(ngModel)]="searchAddress" type="text" name="addr" value="" id="addr" size="10" placeholder="Search location"/>
              <div *ngFor="let addressDetails of address">
                <div (click)="moveMap(addressDetails)" style="border: 1px solid black; margin: 0.5 px;">{{addressDetails.display_name}}</div>
               </div>
            </div>
    </div>
  </div>
