<button mat-button routerLink='dashboard' [ngClass]="{'active':linkActive === 'dashboard'}" class="menuBtn" (click)="activeClass('dashboard')">Dashboard</button>
<button mat-button [matMenuTriggerFor]="menu" class="menuBtn" [ngClass]="{'active':linkActive === 'org'}" >Organization</button>
<!-- <button mat-button [matMenuTriggerFor]="officeMenu" class="menuBtn" >Office</button> -->
<button mat-button [matMenuTriggerFor]="assetsMenu"  class="menuBtn" [ngClass]="{'active':linkActive === 'assets'}">Assets</button>
<button mat-button [matMenuTriggerFor]="resourceMenu" class="menuBtn" [ngClass]="{'active':linkActive === 'resource'}">Resources</button>
<button mat-button [matMenuTriggerFor]="shelterMenu"  class="menuBtn" [ngClass]="{'active':linkActive === 'shelter'}">Shelters</button>
<button mat-button [matMenuTriggerFor]="incidentMenu" class="menuBtn"  [ngClass]="{'active':linkActive === 'incident'}">Incident</button>
<mat-menu #menu="matMenu" [routerLinkActive]="'active'">
  <button mat-menu-item routerLink='org-create' (click)="activeClass('org')">Create</button>
  <button mat-menu-item routerLink='org-view' (click)="activeClass('org')">View</button>
</mat-menu>
<mat-menu #officeMenu="matMenu" >
    <button mat-menu-item routerLink='office-create'>Create</button>
    <button mat-menu-item routerLink='office-view'>View</button>
  </mat-menu>
<mat-menu #assetsMenu="matMenu">
    <button mat-menu-item routerLink='assets-create'  (click)="activeClass('assets')">Create</button>
    <button mat-menu-item routerLink='assets-view' (click)="activeClass('assets')">View</button>
</mat-menu>
<mat-menu #resourceMenu="matMenu">
      <button mat-menu-item routerLink='resource-create' (click)="activeClass('resource')">Create</button>
      <button mat-menu-item routerLink='resource-view' (click)="activeClass('resource')">View</button>
</mat-menu>
<mat-menu #shelterMenu="matMenu">
      <button mat-menu-item routerLink='shelter-create' (click)="activeClass('shelter')">Create</button>
      <button mat-menu-item routerLink='shelter-view' (click)="activeClass('shelter')">View</button>
</mat-menu>
<mat-menu #incidentMenu="matMenu">
  <button mat-menu-item routerLink='incident-create' (click)="activeClass('incident')">Create</button>
  <button mat-menu-item routerLink='incident-view' (click)="activeClass('incident')">View</button>
</mat-menu>
<router-outlet></router-outlet>
