<div id="wrapper">
  <div id="leftcolumn">
      <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h4>Availabilty Status</h4>
            </mat-panel-title>
          </mat-expansion-panel-header><mat-divider></mat-divider>
          <mat-list role="list">
              <mat-list-item role="listitem">Open Incidents - {{openIncidents}}</mat-list-item>
              <mat-list-item role="listitem">In-Progress -{{inProgressIncidents}}</mat-list-item>
              <mat-list-item role="listitem">Total Resources -{{totalResources}}</mat-list-item>
              <mat-list-item role="listitem">Available Resources -{{availableResources}}</mat-list-item>
              <mat-list-item role="listitem">Defective Resources - {{defectiveResources}}</mat-list-item>
              <mat-list-item role="listitem">Total Assets - {{totalAssets}}</mat-list-item>
              <mat-list-item role="listitem">Available Assets - {{availableAssets}}</mat-list-item>
              <mat-list-item role="listitem">Defective Assets - {{defectiveAssets}}</mat-list-item>
          </mat-list>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h4>Live News Feeds</h4>
              </mat-panel-title>
            </mat-expansion-panel-header><mat-divider></mat-divider>
            <mat-list role="list">
                <mat-list-item role="newslistitem">- Huge crowd stock in cyber gateway</mat-list-item>
                <mat-list-item role="newslistitem">- Rainfall Level Surpassed</mat-list-item>
            </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h4>Notifications</h4><mat-icon>notifications</mat-icon>
              </mat-panel-title>
            </mat-expansion-panel-header><mat-divider></mat-divider>
            <mat-list role="list">
                <mat-list-item role="newslistitem">No Notifications Found</mat-list-item>
            </mat-list>
          </mat-expansion-panel>
      </mat-accordion>
  </div>
  <div id="rightcolumn" style="color:black;">
        <div id="map" class="container"></div>
        <div id="search">
            <input type="text" (keyup)="searchMapLocationBySearchData()" id="mapSearch" [(ngModel)]="searchAddress" type="text" name="addr" value="" id="addr" size="10" placeholder="Search location"/>
            <div *ngFor="let addressDetails of address">
              <div (click)="moveMap(addressDetails)" style="border: 1px solid black; margin: 0.5 px;">{{addressDetails.display_name}}</div>
             </div>
          </div>
  </div>
</div>




